Project/bin/Debug/net5.0/appsettings.Development.json
Project/bin/Debug/net5.0/appsettings.json
Project/bin/Debug/net5.0/global.json
Project/bin/Debug/net5.0/Project.deps.json
Project/bin/Debug/net5.0/Project.dll
Project/bin/Debug/net5.0/Project.exe
Project/bin/Debug/net5.0/Project.pdb
Project/bin/Debug/net5.0/Project.runtimeconfig.dev.json
Project/bin/Debug/net5.0/Project.runtimeconfig.json
Project/bin/Debug/net5.0/Project.StaticWebAssets.xml
Project/bin/Debug/net5.0/Project.Views.dll
Project/bin/Debug/net5.0/Project.Views.pdb
Project/bin/Debug/net5.0/ref/Project.dll
Project/obj/project.assets.json
Project/obj/Project.csproj.nuget.dgspec.json
Project/obj/Project.csproj.nuget.g.props
Project/obj/Project.csproj.nuget.g.targets
Project/obj/project.nuget.cache
Project/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
Project/obj/Debug/net5.0/apphost.exe
Project/obj/Debug/net5.0/Project.AssemblyInfo.cs
Project/obj/Debug/net5.0/Project.AssemblyInfoInputs.cache
Project/obj/Debug/net5.0/Project.assets.cache
Project/obj/Debug/net5.0/Project.csproj.CopyComplete
Project/obj/Debug/net5.0/Project.csproj.CoreCompileInputs.cache
Project/obj/Debug/net5.0/Project.csproj.FileListAbsolute.txt
Project/obj/Debug/net5.0/Project.csprojAssemblyReference.cache
Project/obj/Debug/net5.0/Project.dll
Project/obj/Debug/net5.0/Project.GeneratedMSBuildEditorConfig.editorconfig
Project/obj/Debug/net5.0/Project.genruntimeconfig.cache
Project/obj/Debug/net5.0/Project.MvcApplicationPartsAssemblyInfo.cache
Project/obj/Debug/net5.0/Project.pdb
Project/obj/Debug/net5.0/project.razor.json
Project/obj/Debug/net5.0/Project.RazorAssemblyInfo.cache
Project/obj/Debug/net5.0/Project.RazorAssemblyInfo.cs
Project/obj/Debug/net5.0/Project.RazorComponent.input.cache
Project/obj/Debug/net5.0/Project.RazorComponent.output.cache
Project/obj/Debug/net5.0/Project.RazorCoreGenerate.cache
Project/obj/Debug/net5.0/Project.RazorTargetAssemblyInfo.cache
Project/obj/Debug/net5.0/Project.RazorTargetAssemblyInfo.cs
Project/obj/Debug/net5.0/Project.TagHelpers.input.cache
Project/obj/Debug/net5.0/Project.TagHelpers.output.cache
Project/obj/Debug/net5.0/Project.Views.dll
Project/obj/Debug/net5.0/Project.Views.pdb
Project/obj/Debug/net5.0/Razor/_Imports.razor.g.cs
Project/obj/Debug/net5.0/Razor/App.razor.g.cs
Project/obj/Debug/net5.0/Razor/Pages/_Host.cshtml.g.cs
Project/obj/Debug/net5.0/Razor/Pages/Chat.razor.g.cs
Project/obj/Debug/net5.0/Razor/Pages/Index.razor.g.cs
Project/obj/Debug/net5.0/Razor/Pages/Sidebar.razor.g.cs
Project/obj/Debug/net5.0/Razor/Pages/SidebarChat.razor.g.cs
Project/obj/Debug/net5.0/Razor/Shared/MainLayout.razor.g.cs
Project/obj/Debug/net5.0/Razor/Shared/NavMenu.razor.g.cs
Project/obj/Debug/net5.0/RazorDeclaration/_Imports.razor.g.cs
Project/obj/Debug/net5.0/RazorDeclaration/App.razor.g.cs
Project/obj/Debug/net5.0/RazorDeclaration/Project.dll
Project/obj/Debug/net5.0/RazorDeclaration/Project.pdb
Project/obj/Debug/net5.0/RazorDeclaration/Pages/Chat.razor.g.cs
Project/obj/Debug/net5.0/RazorDeclaration/Pages/Index.razor.g.cs
Project/obj/Debug/net5.0/RazorDeclaration/Pages/Sidebar.razor.g.cs
Project/obj/Debug/net5.0/RazorDeclaration/Pages/SidebarChat.razor.g.cs
Project/obj/Debug/net5.0/RazorDeclaration/Shared/MainLayout.razor.g.cs
Project/obj/Debug/net5.0/RazorDeclaration/Shared/NavMenu.razor.g.cs
Project/obj/Debug/net5.0/ref/Project.dll
Project/obj/Debug/net5.0/scopedcss/Pages/Chat.razor.rz.scp.css
Project/obj/Debug/net5.0/scopedcss/Pages/Index.razor.rz.scp.css
Project/obj/Debug/net5.0/scopedcss/Pages/Sidebar.razor.rz.scp.css
Project/obj/Debug/net5.0/scopedcss/Pages/SidebarChat.razor.rz.scp.css
Project/obj/Debug/net5.0/scopedcss/Shared/MainLayout.razor.rz.scp.css
Project/obj/Debug/net5.0/scopedcss/Shared/NavMenu.razor.rz.scp.css
Project/obj/Debug/net5.0/scopedcss/bundle/Project.styles.css
Project/obj/Debug/net5.0/scopedcss/projectbundle/Project.bundle.scp.css
Project/obj/Debug/net5.0/staticwebassets/Project.StaticWebAssets.Manifest.cache
Project/obj/Debug/net5.0/staticwebassets/Project.StaticWebAssets.xml
