<div class="chat">

    <div class="chat__header">
        <img src="https://avatars.dicebear.com/4.5/api/male/456123.svg" height="40" style="border-radius: 50%;" />
        <div class="chat__headerInfo">
            <h5>Room Name</h5>
            <p>Last Seen at...</p>
        </div>

        <div class="chat__headerRight">
            <span class="material-icons">search</span>
            <span class="material-icons">attach_file</span>
            <span class="material-icons">more_vert</span>
        </div>
    </div>

    <div class="chat__body">
        <p class="chat__message">
            <span class="chat__name">Sender Name</span>
            Hello World
            <span class="chat__timeStamp">1:09 AM</span>
        </p>
        
        <p class="chat__message chat__reciever">
            <span class="chat__name">You</span>
            Hello World
            <span class="chat__timeStamp">1:09 AM</span>
        </p>

    </div>


    <div class="chat_footer">

        <span class="material-icons">insert_emoticon</span>

        <input type="text" @bind-value="message" @bind-value:event="oninput" />

        @if (string.IsNullOrEmpty(message))
        {
            <span class="material-icons">mic</span>
        }
        else
        {
            <button></button>
        }
    </div>




</div>