<div class="sidebarChat">
    <img src="https://avatars.dicebear.com/4.5/api/male/@(x).svg" height="40" style="border-radius: 50%;" />
    <div class="sidebarChat_info">
        <h2>Room Name</h2>
        <p>Last Message...</p>
    </div>
</div>

