<div class="sidebar">
    <div class="sidebar__header">
        <span class="material-icons" style="font-size: 40px; color: gray">account_circle</span>
        <div class="sidebar__headerRight">
            <span class="material-icons">donut_large</span>
            <span class="material-icons">speaker_notes</span>
            <span class="material-icons">more_vert</span>
        </div>
    </div>

    <div class="sidebar__search">
        <div class="sidebar__searchContainer">
            <span class="material-icons mx-2">search</span>
            <input type="text" placeholder="Search or start new chat" />
        </div>
    </div>

    <div class="sidebar__chats">
         <div class="addnewchat">
            <h2>Add New Chat</h2>
        </div> 
        <SidebarChat />
        <SidebarChat />
        <SidebarChat /> 
        <SidebarChat />
    </div>
</div>